[submodule "blob"]
	path = blob
	url = https://github.com/rl-tools/sysid.tools-blob.git
[submodule "external/chartjs-plugin-annontation"]
	path = external/chartjs-plugin-annontation
	url = https://github.com/chartjs/chartjs-plugin-annotation.git
